@import "tailwindcss";

.header-gradient {
  background: linear-gradient(
    135deg,
    #c4a7e7 0%,   /* lavanda */
    #a7d8f0 50%,  /* azzurro chiaro */
    #b7d7a8 100%  /* verde salvia */
  );
}

.hero-gradient {
    background: linear-gradient(135deg, hsla(142, 7%, 76%, 1) 0%, hsla(189, 32%, 52%, 1) 50%, hsla(300, 2%, 12%, 1) 100%);
}

.footer-gradient {
    background: linear-gradient(
    135deg,
    #b7d7a8 0%,  /* verde salvia */
    #a7d8f0 50%,  /* azzurro chiaro */
    #c4a7e7 100%   /* lavanda */
  );
}

.background-site {
  background:
    linear-gradient(rgba(245, 243, 255, 0.65), rgba(245, 243, 255, 0.65)),
    url("./img/lavanda4.jpg") no-repeat center center/cover;
}
